# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build and package folders
build
dist
packages
typings
.tmp

# System folders
.DS_Store

# Node
node_modules


# Test reporters
**/test/coverage
report